In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
#Use drop() method for droping columns or rows
ufo.drop('Colors Reported',axis=1,inplace=True)

In [5]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

If we've to drop multiple columns, we can do so by specifying all column names in a list and pass it to 
drop method.

In [6]:
ufo.drop(['City','State'],axis=1,inplace=True)

In [7]:
ufo.head()

  Shape Reported             Time
0       TRIANGLE   6/1/1930 22:00
1          OTHER  6/30/1930 20:00
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00

If we've to drop rows, method is same. The only change is that instead of column names we have to pass row names and in place of axis=1, we've to pass axis=0. Although axis=0 is by default but passing it explicitly is recommended for better code understanding.

In [8]:
#Removing rows
ufo.drop([0,1],axis=0,inplace=True)

In [9]:
ufo.head()

  Shape Reported             Time
2           OVAL  2/15/1931 14:00
3           DISK   6/1/1931 13:00
4          LIGHT  4/18/1933 19:00
5           DISK  9/15/1934 15:30
6         CIRCLE   6/15/1935 0:00

We can also verify it by checking shape of the data frame. You'll see that shape of data frame has reduced.

In [13]:
ufo.shape

(18239, 2)